.home{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.recept_block{
    width: 100%;
    display: flex;
}

.faplus{
    width: 100px;
    height: 100px;
    display: block;
}